[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
kaggle = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
holoviews = "*"
umap = "*"
hvplot = "*"

[dev-packages]

[requires]
python_version = "3.8"
